<!DOCTYPE html>
<html lang="en-US">
<head>
   <meta charset="utf-8" />
   <meta name="format-detection"
        content="telephone=no" />
   <meta name="msapplication-tap-highlight"
        content="no" />
   <meta name="viewport"
        content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />

   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script src="recipe_browser.js"></script>

   <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
   <link rel="stylesheet" type="text/css" href="recipes.css">

</head>
<title>Heather's Recipe Collection</title>
<body>

<div ng-app="RecipeBrowser" ng-controller="RecipeController">
   <section class="w3-quarter rb-recipelist">
      <div class="rb-category" ng-repeat="cat in recipes.categories">
         {{ cat[0].Category + ' (' + cat.length + ')' }}
         <div class="rb-recipeinlist" ng-repeat="e in cat" ng-click="selectRecipe(e)">
            {{ e.Recipe }}
         </div>
         <p/>
      </div>
   </section>
   <section class="w3-rest rb-recipe">
      <h1 class="w3-card-2 rb-recipetitle">{{ recipes.selectedRecipe["Recipe"] }}</h1>

      <table>
      <tr>
      <td width="50%"><h4>Temperature: {{recipes.selectedRecipe["Cooking Temp"]}}</h4></td>
      <td width="50%"><h4>Cooking Time: {{recipes.selectedRecipe["Cooking Duration"]}}</h4></td>
      </tr>
      </table>

      <div>
      <h2>Ingredients:</h2>
      <div class="w3-card-2 rb-recipedetail">{{ recipes.selectedRecipe["Ingredients"] }}</div>
      <h2>Directions:</h2>
      <div class="w3-card=2 rb-recipedetail">{{ recipes.selectedRecipe["Directions"] }}</div>
      </div>
   </section>
</div>

</body>
</html>
